/.idea/
*.pyc
maps/fire/
maps/theme/
maps/mope/
*.py~
*.png~
*.ini
*.zip
*.iml
/maps/Inferno/
/maps/Inferno2/
/maps/where is this from pls help/
/maps/wsv/
/maps/Stone Ocean/
/maps/Disorder/
/maps/I'm Poppy (Cut Ver)/
/maps/Stone Ocean SICKO MODE/
/maps/Sugar Rush/
/dist/
/build/
/maps/62.5/62.5.ogg
/maps/62.5/62.5.vib
maps/Universal Dance/Universal Dance.mp3
maps/Universal Dance/Universal Dance.vib
*.pyc
